---
import ChargeSection from '../components/ChargeSection.astro';
import MainHeader from "../components/MainHeader.astro";
import VideoSection from "../components/VideoSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <MainHeader />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden">
    <div class="snap-center">
      <VideoSection />
    </div>
    <div class="snap-center">
      <ChargeSection />
    </div>
  </main>
</Layout>
