<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative flex flex-col flex-grow h-full w-full">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">
        Model Y
      </h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>
    <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
      <div class=" flex gap-4 justify-center">
        <a
          href=""
          class="text-white text-sm border-2 border-gray-900 rounded font-light px-8 max-w-fit self-center py-2 bg-gray-900"
        >
          Explorar inventario</a
        >
        <a
          href=""
          class="text-black bg-white text-sm border-2 rounded font-light px-8 max-w-fit self-center py-2"
        >
          Pedido personalizado</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 z-10 h-full w-full">
    <img class="object-cover h-full object-center w-full"  src="/modelY.avif" alt="Model Y"></img>
  </div>
</section>